<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.cpen391.alarms">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.Sensor.stepcounter"/>
    <uses-feature android:name="android.hardware.Sensor.stepdetector"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CircularRevealActivity"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask"
            />
        <activity android:name=".home" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".games.GraphicsActivity"/>
        <activity android:name=".tabs.CreateAlarm"/>
        <activity android:name=".games.WalkingStepsGame"/>
        <activity android:name=".games.JumpingJacksGame"/>
        <activity android:name=".games.SquatGame"/>
        <activity android:name=".games.BurpeesGame"/>
        <activity android:name=".games.ColorSequenceGame"/>
        <activity android:name=".games.ColorSequenceStartActivity"/>
        <activity android:name=".games.MainSpellingActivity"/>
        <activity android:name=".games.DoneActivity"/>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".games.InstrActivity">
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>